<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); %>
<body>
    
    <%- include('./partials/nav.ejs'); %>

    <div class="blog content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga deleniti ipsa earum, nam voluptates reprehenderit molestiae quas omnis dolore maxime rerum aperiam sequi reiciendis possimus numquam officiis natus sed? Placeat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae autem expedita voluptatem atque vero non magni quos quae. Sequi sint officia laborum consequuntur deserunt laudantium delectus, quibusdam unde quis quas?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum rerum cupiditate placeat dolores culpa laboriosam saepe magnam quis ipsam veritatis debitis corporis reiciendis rem exercitationem alias ad eius, delectus sit?</p>
    </div>

    <%- include('./partials/footer.ejs'); %>
      
</body>
</html>